doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        header
            h1 Дипломный проект
        aside
            nav
                a(href='/') Главная
                a(href='/add-face/') Добавить лицо
        article
            block main
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
