@import 'variables'

html, body
	padding: 0
	margin: 0
	font: font-size/line-height font-family-main
	font-weight: font-weight-main
	color: color-text
	background: color-bg

header
	background-color: grey

header, article
	padding: 16px;
