font-size = 16px
line-height = 1.5

font-family-main = 'Open Sans',sans-serif
font-weight-main = 400
font-weight-header = 100

color-text = #443
color-bg = #f4f4f0

color-nav-links = #db4864
color-nav-links-hover = #9E253C

color-blue = #55acee

color-footer = #776
