#video1,
#video2 {
  border: 1px solid #000;
  box-shadow: 2px 2px 3px #000;
  width: 100%;
  margin-bottom: 30px;
}
#camera1,
#camera2 {
  width: 100%;
  float: left;
  position: relative;
}
.face {
  position: absolute;
  border: 2px solid #00f;
  border-radius: 50%;
}
