extends ../layout

block main
    link(rel='stylesheet', href='/css/video.css')
    .row
      .video
      .col-md-4
        .camera
          img(id="video" src="http://localhost:8081" alt="Недоступно")


      .col-md-4
        .camera
          img(id="video1" src="http://localhost:8082" alt="Недоступно")

      //-

      //-
      //- .col-md-4
      //-   .camera
      //-     video#video Недоступно
      //-     button#startbutton Снимок
      //-
      //-   canvas#canvas
      //-
      //-   .output
      //-     img#photo(alt="Снимок будет тут")
      //-
      //- .col-md-4
      //-   .camera
      //-     video#video Недоступно
      //-     button#startbutton Снимок
      //-
      //-   canvas#canvas
      //-
      //-   .output
      //-     img#photo(alt="Снимок будет тут")
