extends ../layout

block main
    link(rel='stylesheet', href='/css/video.css')
    .row
      .video
      .col-md-4
        .camera
            #camera1
              #stream1
                  img(id="video1" src="http://localhost:8081" alt="Недоступно")

      .col-md-4
        .camera
            #camera2
              #stream2
                  img(id="video2" src="http://localhost:8082" alt="Недоступно")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
    script(src='/scripts/camera1.js')
    script(src='/scripts/camera2.js')
