extends ../layout

block main
    link(rel='stylesheet', href='/css/video.css')
    .row
      .video
      //- .col-md-4
      //-   .camera
      //-     video#video Недоступно
      //-     button#startbutton Снимок
      //-
      //-   canvas#canvas
      //-
      //-   .output
      //-     img#photo(alt="Снимок будет тут")
      //-
      //- .col-md-4
      //-   .camera
      //-     video#video Недоступно
      //-     button#startbutton Снимок
      //-
      //-   canvas#canvas
      //-
      //-   .output
      //-     img#photo(alt="Снимок будет тут")
      //-
      //- .col-md-4
      //-   .camera
      //-     video#video Недоступно
      //-     button#startbutton Снимок
      //-
      //-   canvas#canvas
      //-
      //-   .output
      //-     img#photo(alt="Снимок будет тут")

    script(src="scripts/index.js")
